.main-content{min-height: 500px;}
body #main-content .animated {
    -vendor-animation-duration: .25s !important;
    -webkit-animation-duration:.25s !important;
    -vendor-animation-delay: .25s !important;
}